DISCORD_TOKEN=isi_token_bot_dari_discord_developer_portal
DISCORD_CLIENT_ID=isi_application_id_bot
DISCORD_GUILD_ID=isi_id_server_don_grouper_assisstant
GROQ_API_KEY=isi_api_key_dari_groq
GROQ_MODEL=qwen/qwen3.8-27b
TMDB_API_TOKEN=isi_read_access_token_tmdb
